 .u-section-1 {
  min-height: 835px;
}

.u-section-1 .u-post-details-1 {
  min-height: 725px;
  margin: 60px calc(((100% - 1140px) / 2)) 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 846px;
  width: 1243px;
  margin: -871px calc(((100% - 1140px) / 2)  + -53px) 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 629px;
  }

  .u-section-1 .u-post-details-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 640px;
    width: 940px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 479px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-image-1 {
    height: 423px;
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 357px;
  }

  .u-section-1 .u-image-1 {
    height: 354px;
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 221px;
  }

  .u-section-1 .u-image-1 {
    height: 275px;
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }
}